/* Resetando margens e paddings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

progress {
    appearance: none;
}

progress::-webkit-progress-value {
    background-color: #4caf50;
}